PORT="3000"
NODE_ENV="development" # development,test,production,staging 
CLOUDFLARE_S3_TOKEN=""
CLOUDFLARE_S3_ACCESS_KEY_ID=""
CLOUDFLARE_S3_SECRET_ACCESS_KEY=""
CLOUDFLARE_S3_R2_BUCKET=""
CLOUDFLARE_R2_ACCOUNT_ID=""
DATABASE_URL="postgresql://postgres:postgres@db:5432/testportal_dev"